NEXT_PUBLIC_SITE_URL=https://improntagrowth.com
NEXT_PUBLIC_GTM_ID=
NEXT_PUBLIC_WISTIA_MEDIA_ID=m64068dv0h
NEXT_PUBLIC_AGENDA_EMBED_URL=https://calendly.com/agustinbarberi/sesion-de-consultoria
NEXT_PUBLIC_ANALYTICS_DEBUG=false
